<h1>Editing Book</h1>
<%= form_with model: @book, url: book_path(@book.id),method: :patch do |f| %>

<div class=field>
  <lavel for="book_itle">Title</lavel>
</div>
<%= f.text_field :title %>


<div class="field">Body
  <lavel for="book_body">
</div>
<%= f.text_area :body %>

<div class="actions">
<%= f.submit 'Update Books' %>
</div>
<div class="actions">
<%= link_to 'Show', book_path(@book) %>
 | 
<%= link_to 'Back', books_path %></div>

<% end %>